.card-detail-container {
  background-color: var(--bg-container);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.col {
  border: 1px solid red;
}

.card-detail {
  margin-top: 2em;
  padding: 1.5em 0.5em 0.5em;

  text-align: center;
  border: 1px solid brown;
}
.card-detail img {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.card-detail .card-detail-title {
  font-weight: 500;
  font-size: 1.5em;
}
.card-detail .btn {
  border-radius: 10px;
  background-color: var(--bg-items);
  color: #ffffff;
  padding: 0.5em 1.5em;
}
.card-detail .btn:hover {
  background-color: var(--bg-items);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-detail-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.info-text {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.icon {
  color: var(--primary);
  margin-right: 2px;
}
.high {
  color: green;
}
.medium {
  color: yellow;
}
.low {
  color: red;
}

.card-detail-footer {
  display: flex;
  width: 100%;
  border: none;
  justify-content: space-between;
}
.card-detail-footer span {
  font-size: 1.4em;
  font-weight: 500;
}

.cta {
  border-radius: 50%;
  background-color: var(--bg-button);
  border: none;
  padding: 0.4em;
  transition: background-color 0.3s ease;
}
.cta svg {
  color: #212121 !important;
  margin: 0;
}

.cta:hover {
  background-color: rgba(209, 175, 5, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
